body {
    font-family: Inter, sans-serif;
    background: #2b2b2b;
    color: #fff;
    margin: 0;
}

.hidden {
    display: none;
}

.navbar {
    background-color: #2b2b2b;
}

.navbar .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar .brand {
    margin-right: 0.75rem;
}

.brand {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

.navbar-toggler {
    text-align: center;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    min-width: 160px;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: #fff;
    font-size: 1.25rem;
    background-color: #1e1e1e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #161616;
}

.text-link{
    color: #fff;
    text-decoration: underline;
}

.text-link:hover{
    color: #A900FF;
}

.highlight {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 0 1rem;
}

.highlight-header {
    font-size: 36px;
    margin: 0.5rem;
}

.highlight-text {
    font-size: 16px;
    margin: 0.75rem;
    color: #eee;
}

#intro {
    animation: fadeIn 1s ease-in-out both;
}

.buttons a {
    text-decoration: none;
    padding: 0 1rem;
}

.socials-link img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%) hue-rotate(172deg) brightness(113%) contrast(100%);
}

.socials-link:hover img {
    filter: brightness(0) saturate(100%) invert(44%) sepia(97%) saturate(4728%) hue-rotate(197deg) brightness(106%) contrast(101%);
}

.card-group {
    vertical-align: middle;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-flow: row wrap;
}

.card {
    animation: fadeIn 1s ease-in-out both;
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    background-color: #1e1e1e;
    max-width: 24rem;
    padding: 1.75rem;
}

.wide-card{
    animation: fadeIn 1s ease-in-out both;
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
    max-width: 48rem;
    padding: 1.75rem;
}

.card-text {
    margin-top: 0.5rem !important;
}

.card p {
    margin: 0;
}

.card-header {
    margin: 0.25rem;
}

.repo-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    max-width: 48rem;
}

.download-button {
    animation: downloadButton 0.1s ease-in-out both;
    display: inline-block;
    background-color: #A900FF;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    user-select: none;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.download-button:hover {
    animation: downloadButtonHover 0.1s ease-in-out both;
    display: inline-block;
    background-color: #161616;
    text-decoration: underline;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
}

@keyframes downloadButton {
    0% {
        background-color: #161616;
        text-decoration: underline;
    }

    100% {
        background-color: #A900FF;
        text-decoration: none;
    }
}

@keyframes downloadButtonHover {
    0% {
        background-color: #A900FF;
        text-decoration: none;
    }

    100% {
        background-color: #161616;
        text-decoration: underline;
    }
}

.checklist {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.checklist-item {
    font-size: 1.25rem;
    background: transparent;
    border-width: 0px;
    padding-bottom: 1rem;
}

.contributor-category {
    padding: 1rem;
    min-width: 2rem;
}

.contributor-link {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.contributor-avatar {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    padding: 0.25rem;
    border-radius: 1rem;
}

.contributor-avatar:hover {
    width: 56px;
    height: 56px;
    padding: 0.16rem;
}

#team-members {
    padding: 2rem;
}

.team-link {
    animation: fadeIn 1s ease-in-out both;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}

.team-avatar {
    animation: teamImage 0.1s ease-in-out both;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 2rem;
}

@keyframes teamImageHover {
    0% {
        width: 6rem;
        height: 6rem;
        padding: 0.25rem;
    }

    100% {
        width: 8rem;
        height: 8rem;
        padding: 0.1rem;
    }
}

@keyframes teamImage {
    0% {
        width: 8rem;
        height: 8rem;
        padding: 0.1rem;
    }

    100% {
        width: 6rem;
        height: 6rem;
        padding: 0.25rem;
    }
}

.team-avatar:hover {
    animation: teamImageHover 0.1s ease-in-out both;
}

#languages {
    padding: 1rem;
}

.lang-tag {
    animation: fadeIn 0.1s ease-in-out both;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 200;
    padding: 0.35rem;
    margin: 0.35rem;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
}

#Rust-tag {
    color: #dea584;
    border-color: #dea584;
}

#CPP-tag {
    color: #f34b7d;
    border-color: #f34b7d;
}


#Python-tag {
    color: #3572A5;
    border-color: #3572A5;
}
#Nix-tag {
    color: #7e7eff;
    border-color: #7e7eff;
}

#HTML-tag {
    color: #e34c26;
    border-color: #e34c26;
}

#React-tag {
    color: #00FF80;
    border-color: #00FF80;
}

.roadmap-step{
    margin: 2rem;
}

.roadmap-list{
    padding-left: 0;
    text-align: left;
    margin-left: 40%;
}

#copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1e1e1e;
    text-align: center;
    padding: 0.5rem 0;
    margin-top: 2rem;
}

.license-link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.license-link:hover {
    text-decoration: underline;
    color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
